*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ============================ Header ============================ */

.header{
    background-color: rgb(1, 161, 253);
    height: 200px;
}

.porto{
    max-width: 5vw;
    margin-left: 2vw;
    margin-top: 1vw;
    box-shadow: 5px 5px rgb(128, 132, 129);
}

.icon{
    max-width: 2vw;
    float: right;
    margin-right: 4.5vw;
    margin-top: 3vw;

}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px 40px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 40px;
}

a.home{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.prod{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.serv{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.pagint{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

/* ============================ Cadastro ============================ */

.cadastroh1{
    text-align: center;
    margin: 20px;
    font-size: 56px;
}

.container{
    align-items: center;
    margin: 5vw;
    border: 5px solid black;
}

legend{
    font-size: 32px;
}

form{
    margin: 60px;
    font-size: 24px;
    text-align: center;
    width: 300px;
    display: inline-block;
    width: 440px;
}

label{ 
    display: inline-block; 
    width: 100px; 
    text-align: left; 
}

input{
    font-size: 24px;
}

/* ================ FOOTER ================ */

footer{
    font-size: 18px;
    text-align: center;
    background-color: rgb(1, 161, 253);
    color: white;
    padding: 10px;
}