*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ============================ Header ============================ */

.header{
    background-color: rgb(1, 161, 253);
    height: 200px;
}

.porto{
    max-width: 5vw;
    margin-left: 2vw;
    margin-top: 1vw;
    box-shadow: 5px 5px rgb(128, 132, 129);
}

.icon{
    max-width: 2vw;
    float: right;
    margin-right: 4.5vw;
    margin-top: 3vw;

}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px 40px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 40px;
}

a.home{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.prod{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.serv{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.pagint{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

/* ============================ Pag. Int ============================ */

.paginth1{
    text-align: center;
    margin: 15px;
    font-size: 50px;
}

h2{
    text-align: center;
    margin: 25px;
    font-size: 30px;
}

.linkrep{
    text-align: center;
    margin: 15px;
}

a.rep{
    text-align: center;
    text-decoration: none;
    color: rgb(1, 161, 253);
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3vw;
    margin-bottom: 20vw;

}

.foto1{
    width: 15vw;
    box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
}

.legenda1{
    width: 15vw;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}

.foto2{
    width: 15vw;
    box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
}

.legenda2{
    width: 15vw;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}

.foto3{
    width: 15vw;
    box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
}

.legenda3{
    width: 15vw;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}


/* ================ FOOTER ================ */

footer{
    font-size: 18px;
    text-align: center;
    background-color: rgb(1, 161, 253);
    color: white;
    padding: 10px;
    width: 98.9%;
    position: absolute;
    top: 100%
}

/* ================ DESKTOPS MÉDIOS ================ */

@media screen and (max-width: 1199px){

    /* ============================ Header ============================ */

    .header{
        background-color: rgb(1, 161, 253);
        height: 150px;
    }

    .porto{
        max-width: 5vw;
        margin-left: 2vw;
        margin-top: 1vw;
        box-shadow: 5px 5px rgb(128, 132, 129);
    }

    .icon{
        max-width: 2vw;
        float: right;
        margin-right: 4.5vw;
        margin-top: 3vw;

    }

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 10px 40px;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-top: 40px;
    }

    a.home{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 18px;
    }

    a.prod{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 18px;
    }

    a.serv{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 18px;
    }

    a.pagint{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 18px;
    }

    /* ============================ Pag. Int ============================ */

    .paginth1{
        text-align: center;
        margin: 15px;
        font-size: 42px;
    }

    h2{
        text-align: center;
        margin: 25px;
        font-size: 26px;
    }

    .linkrep{
        text-align: center;
        margin: 15px;
    }

    a.rep{
        text-align: center;
        text-decoration: none;
        color: rgb(1, 161, 253);
    }

    .container1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 3vw;
        margin-bottom: 20vw;
    }

    .foto1{
        width: 15vw;
        box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
    }

    .legenda1{
        width: 15vw;
        text-align: center;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 14px;
    }

    .foto2{
        width: 15vw;
        box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
    }

    .legenda2{
        width: 15vw;
        text-align: center;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 14px;
    }

    .foto3{
        width: 15vw;
        box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
    }

    .legenda3{
        width: 15vw;
        text-align: center;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 14px;
    }


    /* ================ FOOTER ================ */

    footer{
        font-size: 14px;
        text-align: center;
        background-color: rgb(1, 161, 253);
        color: white;
        padding: 10px;
        width: 98.9%;
        position: absolute;
        top: 100%
    }

}

/* ================ TABLETS E LAPTOPS ================ */

@media screen and (max-width: 991px){

    /* ============================ Header ============================ */

    .header{
        background-color: rgb(1, 161, 253);
        height: 120px;
    }

    .porto{
        max-width: 5vw;
        margin-left: 2vw;
        margin-top: 1vw;
        box-shadow: 5px 5px rgb(128, 132, 129);
    }

    .icon{
        max-width: 2vw;
        float: right;
        margin-right: 4.5vw;
        margin-top: 3vw;

    }

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 10px 40px;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-top: 40px;
    }

    a.home{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }

    a.prod{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }

    a.serv{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }

    a.pagint{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }

    /* ============================ Pag. Int ============================ */

    .paginth1{
        text-align: center;
        margin: 15px;
        font-size: 38px;
    }

    h2{
        text-align: center;
        margin: 25px;
        font-size: 22px;
    }

    .linkrep{
        text-align: center;
        margin: 15px;
    }

    a.rep{
        text-align: center;
        text-decoration: none;
        color: rgb(1, 161, 253);
    }

    .container1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 3vw;
        margin-bottom: 20vw;
    }

    .foto1{
        width: 15vw;
        box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
    }

    .legenda1{
        width: 15vw;
        text-align: center;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 12px;
    }

    .foto2{
        width: 15vw;
        box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
    }

    .legenda2{
        width: 15vw;
        text-align: center;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 12px;
    }

    .foto3{
        width: 15vw;
        box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
    }

    .legenda3{
        width: 15vw;
        text-align: center;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 12px;
    }


    /* ================ FOOTER ================ */

    footer{
        font-size: 12px;
        text-align: center;
        background-color: rgb(1, 161, 253);
        color: white;
        padding: 10px;
        width: 98.9%;
        position: absolute;
        top: 100%
    }

}

/* ================ TELEFONES MÉDIOS E TABLETS PEQUENOS ================ */

@media screen and (max-width: 767px){

    /* ============================ Header ============================ */

    .header{
        background-color: rgb(1, 161, 253);
        height: 120px;
    }

    .porto{
        max-width: 5vw;
        margin-left: 2vw;
        margin-top: 1vw;
        box-shadow: 3px 3px rgb(128, 132, 129);
    }

    .icon{
        max-width: 2vw;
        float: right;
        margin-right: 4.5vw;
        margin-top: 3vw;

    }

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 10px 40px;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-top: 40px;
    }

    a.home{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }

    a.prod{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }

    a.serv{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }

    a.pagint{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }

    /* ============================ Pag. Int ============================ */

    .paginth1{
        text-align: center;
        margin: 15px;
        font-size: 32px;
    }

    h2{
        text-align: center;
        margin: 25px;
        font-size: 22px;
    }

    .linkrep{
        text-align: center;
        margin: 15px;
        margin-bottom: 40px;
    }

    a.rep{
        text-align: center;
        text-decoration: none;
        color: rgb(1, 161, 253);
    }

    .container1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 3vw;
        margin-bottom: 20vw;
    }

    .foto1{
        width: 15vw;
        box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
    }

    .legenda1{
        width: 15vw;
        text-align: center;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 8px;
    }

    .foto2{
        width: 15vw;
        box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
    }

    .legenda2{
        width: 15vw;
        text-align: center;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 8px;
    }

    .foto3{
        width: 15vw;
        box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
    }

    .legenda3{
        width: 15vw;
        text-align: center;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 8px;
    }

    /* ================ FOOTER ================ */

    footer{
        font-size: 12px;
        text-align: center;
        background-color: rgb(1, 161, 253);
        color: white;
        padding: 10px;
        width: 98.9%;
        position: absolute;
        top: 100%
    }
}

/* ================ TELEFONES PEQUENOS ================ */

@media screen and (max-width: 576px){

    /* ============================ Header ============================ */

    .header{
        background-color: rgb(1, 161, 253);
        height: 80px;
    }

    .porto{
        max-width: 5vw;
        margin-left: 2vw;
        margin-top: 1vw;
        box-shadow: 2px 2px rgb(128, 132, 129);
    }

    .icon{
        max-width: 2vw;
        float: right;
        margin-right: 4.5vw;
        margin-top: 3vw;

    }

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 5px 20px;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-top: 20px;
    }

    a.home{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 8px;
    }

    a.prod{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 8px;
    }

    a.serv{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 8px;
    }

    a.pagint{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 8px;
    }

    /* ============================ Pag. Int ============================ */

    .paginth1{
        text-align: center;
        margin: 15px;
        font-size: 28px;
    }

    h2{
        text-align: center;
        margin: 25px;
        font-size: 18px;
    }

    .linkrep{
        text-align: center;
        margin: 15px;
        margin-bottom: 40px;
    }

    a.rep{
        text-align: center;
        text-decoration: none;
        color: rgb(1, 161, 253);
        font-size: 12px;
    }

    .container1{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        margin-top: 3vw;
        margin-bottom: 20vw;
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .foto1{
        width: 15vw;
        box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
    }

    .legenda1{
        width: 15vw;
        text-align: center;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 10px;
    }

    .foto2{
        width: 15vw;
        box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
    }

    .legenda2{
        width: 15vw;
        text-align: center;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 10px;
    }

    .foto3{
        width: 15vw;
        box-shadow: 0px 0px 5px 5px rgb(161, 157, 157);
    }

    .legenda3{
        width: 15vw;
        text-align: center;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 10px;
    }


    /* ================ FOOTER ================ */

    footer{
        font-size: 8px;
        text-align: center;
        background-color: rgb(1, 161, 253);
        color: white;
        padding: 10px;
        width: 98.9%;
        position: absolute;
        top: 100%
    }    
}