*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ============================ Header ============================ */

.header{
    background-color: rgb(1, 161, 253);
    height: 200px;
}

.porto{
    max-width: 5vw;
    margin-left: 2vw;
    margin-top: 1vw;
    box-shadow: 5px 5px rgb(128, 132, 129);
}

.icon{
    max-width: 2vw;
    float: right;
    margin-right: 4.5vw;
    margin-top: 3vw;

}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px 40px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 60px;
}

a.home{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.prod{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.serv{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.pagint{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

/* ============================ Serviços ============================ */

.servh1{
    text-align: center;
    margin: 20px;
    font-size: 56px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
    margin: 40px;
    align-items: center;
    justify-items: center;
}

.chatbot{
    align-items: center;
}

.chatbotimg{
    width: 32.8vw;
    margin: 2vw;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(128, 132, 129);
}

.chatbotp{
    width: 30vw;
    margin: 2vw;
    text-align: justify;
    text-align: center;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    padding: 25px;
    font-size: 20px;
}

.bdimg{
    width: 32.8vw;
    margin: 2vw;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(128, 132, 129);
}

.bdp{
    width: 30vw;
    margin: 2vw;
    text-align: justify;
    text-align: center;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    padding: 25px;
    font-size: 20px;
}

/* ================ FOOTER ================ */

footer{
    font-size: 18px;
    text-align: center;
    background-color: rgb(1, 161, 253);
    color: white;
    padding: 10px;
}

/* ================ DESKTOPS MÉDIOS ================ */

@media screen and (max-width: 1199px){

    /* ============================ Header ============================ */

    .header{
        background-color: rgb(1, 161, 253);
        height: 150px;
    }

    .porto{
        max-width: 5vw;
        margin-left: 2vw;
        margin-top: 1vw;
        box-shadow: 5px 5px rgb(128, 132, 129);
    }

    .icon{
        max-width: 2vw;
        float: right;
        margin-right: 4.5vw;
        margin-top: 3vw;

    }

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 10px 40px;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-top: 40px;
    }

    a.home{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 18px;
    }

    a.prod{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 18px;
    }

    a.serv{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 18px;
    }

    a.pagint{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 18px;
    }

    /* ============================ Serviços ============================ */

.servh1{
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
    margin: 40px;
    align-items: center;
    justify-items: center;
}

.chatbot{
    align-items: center;
}

.chatbotimg{
    width: 32.8vw;
    margin: 2vw;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(128, 132, 129);
}

.chatbotp{
    width: 30vw;
    margin: 2vw;
    text-align: justify;
    text-align: center;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    padding: 18px;
    font-size: 16px;
}

.bdimg{
    width: 32.8vw;
    margin: 2vw;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(128, 132, 129);
}

.bdp{
    width: 30vw;
    margin: 2vw;
    text-align: justify;
    text-align: center;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    padding: 18px;
    font-size: 16px;
}

    /* ================ FOOTER ================ */

    footer{
        font-size: 14px;
        text-align: center;
        background-color: rgb(1, 161, 253);
        color: white;
        padding: 10px;
        width: 98.9%;
        position: absolute;
        top: 100%
    }

}

/* ================ TABLETS E LAPTOPS ================ */

@media screen and (max-width: 991px){

    /* ============================ Header ============================ */

    .header{
        background-color: rgb(1, 161, 253);
        height: 120px;
    }

    .porto{
        max-width: 5vw;
        margin-left: 2vw;
        margin-top: 1vw;
        box-shadow: 5px 5px rgb(128, 132, 129);
    }

    .icon{
        max-width: 2vw;
        float: right;
        margin-right: 4.5vw;
        margin-top: 3vw;

    }

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 10px 40px;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-top: 40px;
    }

    a.home{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }

    a.prod{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }

    a.serv{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }

    a.pagint{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }

     /* ============================ Serviços ============================ */

.servh1{
    text-align: center;
    margin: 20px;
    font-size: 36px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
    margin: 40px;
    align-items: center;
    justify-items: center;
}

.chatbot{
    align-items: center;
}

.chatbotimg{
    width: 32.8vw;
    margin: 2vw;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(128, 132, 129);
}

.chatbotp{
    width: 30vw;
    margin: 2vw;
    text-align: justify;
    text-align: center;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    padding: 18px;
    font-size: 16px;
}

.bdimg{
    width: 32.8vw;
    margin: 2vw;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(128, 132, 129);
}

.bdp{
    width: 30vw;
    margin: 2vw;
    text-align: justify;
    text-align: center;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    padding: 18px;
    font-size: 16px;
}

    /* ================ FOOTER ================ */

    footer{
        font-size: 12px;
        text-align: center;
        background-color: rgb(1, 161, 253);
        color: white;
        padding: 10px;
        width: 98.9%;
        position: absolute;
        top: 100%
    }

}

/* ================ TELEFONES MÉDIOS E TABLETS PEQUENOS ================ */

@media screen and (max-width: 767px){

    /* ============================ Header ============================ */

    .header{
        background-color: rgb(1, 161, 253);
        height: 120px;
    }

    .porto{
        max-width: 5vw;
        margin-left: 2vw;
        margin-top: 1vw;
        box-shadow: 3px 3px rgb(128, 132, 129);
    }

    .icon{
        max-width: 2vw;
        float: right;
        margin-right: 4.5vw;
        margin-top: 3vw;

    }

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 10px 40px;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-top: 40px;
    }

    a.home{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }

    a.prod{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }

    a.serv{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }

    a.pagint{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }

        /* ============================ Serviços ============================ */

    .servh1{
        text-align: center;
        margin: 20px;
        font-size: 32px;
    }

    .container{
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: space-evenly;
        margin: 40px;
        align-items: center;
        justify-items: center;
    }

    .chatbot{
        align-items: center;
    }

    .chatbotimg{
        width: 32.8vw;
        margin: 2vw;
        border-radius: 15px;
        box-shadow: 5px 5px rgb(128, 132, 129);
    }

    .chatbotp{
        width: 30vw;
        margin: 2vw;
        text-align: justify;
        text-align: center;
        background-color: rgb(239, 244, 240);
        border-radius: 10px;
        padding: 18px;
        font-size: 16px;
    }

    .bdimg{
        width: 32.8vw;
        margin: 2vw;
        border-radius: 15px;
        box-shadow: 5px 5px rgb(128, 132, 129);
    }

    .bdp{
        width: 30vw;
        margin: 2vw;
        text-align: justify;
        text-align: center;
        background-color: rgb(239, 244, 240);
        border-radius: 10px;
        padding: 18px;
        font-size: 16px;
    }

    /* ================ FOOTER ================ */

    footer{
        font-size: 12px;
        text-align: center;
        background-color: rgb(1, 161, 253);
        color: white;
        padding: 10px;
        width: 98.9%;
        position: absolute;
        top: 100%
    }
}

/* ================ TELEFONES PEQUENOS ================ */

@media screen and (max-width: 576px){

    /* ============================ Header ============================ */

    .header{
        background-color: rgb(1, 161, 253);
        height: 80px;
    }

    .porto{
        max-width: 5vw;
        margin-left: 2vw;
        margin-top: 1vw;
        box-shadow: 2px 2px rgb(128, 132, 129);
    }

    .icon{
        max-width: 2vw;
        float: right;
        margin-right: 4.5vw;
        margin-top: 3vw;

    }

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 5px 20px;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-top: 20px;
    }

    a.home{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 8px;
    }

    a.prod{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 8px;
    }

    a.serv{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 8px;
    }

    a.pagint{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 8px;
    }

        /* ============================ Serviços ============================ */

    .servh1{
        text-align: center;
        margin: 20px;
        font-size: 30px;
    }

    .container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: space-evenly;
        margin: 40px;
        align-items: center;
        justify-items: center;
    }

    .chatbot{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .chatbotimg{
        width: 80vw;
        margin: 2vw;
        border-radius: 15px;
        box-shadow: 5px 5px rgb(128, 132, 129);
    }

    .chatbotp{
        width: 80vw;
        margin: 2vw;
        text-align: justify;
        text-align: center;
        background-color: rgb(239, 244, 240);
        border-radius: 10px;
        padding: 18px;
        font-size: 14px;
    }

    .bd{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bdimg{
        width: 80vw;
        margin: 2vw;
        border-radius: 15px;
        box-shadow: 5px 5px rgb(128, 132, 129);
    }

    .bdp{
        width: 80vw;
        margin: 2vw;
        text-align: justify;
        text-align: center;
        background-color: rgb(239, 244, 240);
        border-radius: 10px;
        padding: 18px;
        font-size: 14px;
    }

    /* ================ FOOTER ================ */

    footer{
        font-size: 1vh;
        text-align: center;
        background-color: rgb(1, 161, 253);
        color: white;
        padding: 10px;
        position: absolute;
        top: 100%;
        width: 95vw;
        margin-top: 120px;
    }    
}