*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ============================ Header ============================ */

.header{
    background-color: rgb(1, 161, 253);
    height: 200px;
}

.porto{
    max-width: 5vw;
    margin-left: 2vw;
    margin-top: 1vw;
    box-shadow: 5px 5px rgb(128, 132, 129);
}

.icon{
    max-width: 2vw;
    float: right;
    margin-right: 4.5vw;
    margin-top: 3vw;

}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px 40px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 40px;
}

a.home{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.prod{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.serv{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.pagint{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

/* ============================ Serviços ============================ */

.servh1{
    text-align: center;
    margin: 20px;
    font-size: 56px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
    margin: 40px;
    align-items: center;
    justify-items: center;
}

.chatbot{
    align-items: center;
}

.chatbotimg{
    width: 32.8vw;
    margin: 2vw;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(128, 132, 129);
}

.chatbotp{
    width: 30vw;
    margin: 2vw;
    text-align: justify;
    text-align: center;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    padding: 25px;
    font-size: 20px;
}

.bdimg{
    width: 32.8vw;
    margin: 2vw;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(128, 132, 129);
}

.bdp{
    width: 30vw;
    margin: 2vw;
    text-align: justify;
    text-align: center;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    padding: 25px;
    font-size: 20px;
}

/* ================ FOOTER ================ */

footer{
    font-size: 18px;
    text-align: center;
    background-color: rgb(1, 161, 253);
    color: white;
    padding: 10px;
}